<p id="notice"><%= notice %></p>

<h2 class="sub-header">Tag</h2>

<p>
  <strong>名前:</strong>
  <%= @tag.name %>
</p>

<%= link_to '編集', edit_tag_path(@tag), class: 'btn btn-default' %>
<%= link_to '戻る', tags_path, class: 'btn btn-default' %>
